html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}



.main-nav {
  display: block;
	background-color: rgba(13,76,66,1);
	padding-right: 3%;
	padding-left: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	position:relative;
	top:0;

}

li {
	display: inline;
	margin-left: 1rem;
}
.main-nav a {
	color: #ffffff;
}

.main-nav a:hover {
	color: rgba(255, 221, 0, 1);
}

.navbar-toggler {
  padding: 0.75em;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.navbar-toggler:focus {
  outline: none;
}

.button-register {
	min-width: 140px;
	background-color: rgba(255, 221, 0, 1);
	border: transparent;
	font-weight: bold;
	color: rgba(0,0,0,1) !important;
	text-align: center;
	justify-content: center;
	border-radius: 500px;
	margin-top: 1rem
	/*margin-bottom: 1rem;*/
}

.button-register:hover {
	background-color: rgba(255, 221, 0, 0.7);
}

.updateinfo{
  display: block;
  position: relative;
	width: 100%;
	height: auto;
	min-height: 50%;
	margin: 0px;
	padding: 0px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(70, 160, 220, 0.7)), color-stop(70%, rgba(70, 160, 220, 0.7)), to(rgba(19, 144, 124, 0))), url("school-blue.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
  /*background-image: url("school-blue.jpg");*/
}
